{% extends 'records/workspace.html'%}
{% load static tailwind_tags %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referr" >
    {% tailwind_css %}
    <title>childform</title>
</head>
<body>
    <!--------leftside fields---------->
    <div class="flex justify-center items-center h-screen bg-gray-50">
        <div class="w-full max-w-lg mx-auto lg:w-1/2 ">
            <h1 class="text-center mb-2">Children Form</h1>
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-wrap" method="post">
                {% csrf_token %}
                <div class="w-full flex flex-wrap -mx-3 mb-6 sm:flex-column">
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="{{ child_form.name.id_for_label }}">Name</label>
                        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ child_form.name.id_for_label }}" name="{{ child_form.name.html_name }}" value="{{ child_form.name.value }}" />
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="{{ child_form.date_of_birth.id_for_label }}">Date of Birth</label>
                        <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ child_form.date_of_birth.id_for_label }}" name="{{ child_form.date_of_birth.html_name }}" value="{{ child_form.date_of_birth.value|date:"Y-m-d" }}" />
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="{{ child_form.confirmation_date.id_for_label }}">Confirmation</label>
                        <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ child_form.confirmation_date.id_for_label }}" name="{{ child_form.confirmation_date.html_name }}" value="{{ child_form.confirmation_date.value|date:"Y-m-d" }}" />
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="confirmation_date">Baptism</label>
                        <input type="date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ child_form.baptism_date.id_for_label }}" name="{{ child_form.baptism_date.html_name }}" value="{{ child_form.baptism_date.value|date:"Y-m-d" }}" />
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                            <label for="communicant">Communicant</label>
                            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ child_form.communicant.html_name}}">
                                <option value="" {% if not child_form.communicant.value %}selected{% endif %}>Communicant</option>
                                {% for choice in child_form.fields.communicant.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == child_form.communicant.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="{{ child_form.gender.id_for_label }}">Gender</label>
                        <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ child_form.gender.html_name }}" id="{{ child_form.gender.id_for_label }}">
                            <option value="" {% if not child_form.gender.value %}selected{% endif %}>Select Gender</option>
                            {% for value, label in child_form.fields.gender.choices %}
                                <option value="{{ value }}" {% if child_form.gender.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>   
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                        <label for="{{ spouse_form.department.id_for_label }}">Department</label>
                        <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ child_form.department.html_name }}" id="{{ child_form.department.id_for_label }}">
                            <option value="" {% if not child_form.gender.value %}selected{% endif %}>Select Dept</option>
                            {% for value, label in child_form.fields.department.choices %}
                                <option value="{{ value }}" {% if child_form.department.value == value %}selected{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w-1/2 px-3 mb-6 md:mb-0 mt-2">
                            <label for="{{ child_form.parent.id_for_label }}">Parent</label>
                            <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ child_form.parent.html_name}}">
                                <option value="" {% if not child_form.parent.value %}selected{% endif %}>Parent</option>
                                {% for choice in child_form.fields.parent.choices %}
                                    <option value="{{ choice.0 }}" {% if parent.id == child_form.parent.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                    </div>   
                </div>
                <!-- button -->
                <div class="w-full px-3">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock content %}