{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referr" >
    {% tailwind_css %}
    <title>workspace</title>
</head>
<body class="bg-bookmark-white-50 font-Poppins">
    <!------set nav configs------->
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[230px] overflow-y-auto text-center bg-bookmark-white">
        <div class="p-2.5 mt-1 flex items-center">
            <img class="mt-1" src="{% static 'img/logoblack.png' %}" >
        </div>
        <hr class="my-2 text-grey-100 mt-3">
        <div class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-bookmark-white hover:text-black">
            <a href="{% url 'memberform' %}" class="text-[15px] ml-4 text-red rounded-2xl uppercase">Members</a>
        </div>
        <hr class="my-2 text-grey-100 mt-3">
        <div class="p-2.5 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-bookmark-white hover:text-black">
            <span class="text-[15px] ml-4 text-red rounded-2xl uppercase">Members</span>
        </div>
        <a href="{% url 'account_logout' %}" class="p-2.5 flex flex-col items-center fixed bottom-0 rounded-md px-4 duration-300 cursor-pointer hover:bg-bookmark-white hover:text-black">
            <img class="mt-4" src="{% static 'img/logout.svg' %}" >
            <span class="text-[15px] ml-4 text-red rounded-2xl uppercase">Logout</span>
        </a>
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</body>
</html>