{% extends 'base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="{% static 'script.js' %}"></script>
    <style>
        .card-title {
    text-align: center; 
    text-decoration: underline; 
    color:purple;
    padding-top: 20px;
  }
   /* message css */
  .centered-alert {
    text-align: center;
    background-color:lightgreen;
    max-width: 50%;
    margin:0 auto;
}

    </style>
</head>
<body>
    <h4 class="card-title">Children Profile </h4>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success centered-alert" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="container pt-3" >
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Confirmation Date</th>
                    <th>Baptism Date</th>
                    <th>Department</th>
                    <th>Delete</th>                
                </tr>
            </thead>
            <tbody>
                {% for child in children %}
                <tr>
                    <td>{{ child.id }}</td>
                    <td><a href="{% url 'editchild' child.id %}">{{ child.name }}</a></td>           
                    <td>{{ child.date_of_birth }}</td>
                    <td>{{ child.confirmation_date }}</td>
                    <td>{{ child.baptism_date }}</td>
                    <td>{{ child.dept}}</td>
                    <td><a href="{% url 'deletechild' child.id %}">
                        <i class="fas fa-trash-alt" style="color: red;"></i>
                    </a>
                    </td>     
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>   
</body>
</html>
{% endblock content %}
