{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="{% static 'script.js' %}"></script>
    
</head>
<body>
    <div class="container pt-3" >
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Confirmation Date</th>
                    <th>Baptism Date</th>
                    <th>Delete</th>                
                </tr>
            </thead>
            <tbody>
                {% for child in children %}
                <tr>
                    <td><a href="{% url 'editchild' child.id %}">{{ child.id}}</a></td>
                    <td>{{ child.name }}</td>
                    <td>{{ child.date_of_birth }}</td>
                    <td>{{ child.confirmation_date }}</td>
                    <td>{{ child.baptism_date }}</td>
                    <td><a href="{% url 'deletechild' child.id %}">Delete</a></td>     
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
</body>
</html>
{% endblock content %}
