{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style type="text/css">
        form{
            padding-top: 100px;
            padding: 15px;
        }
        .form-spouse{
            margin: 0 auto;
            max-width: 400px;   
        }
        .form-spouse h2{
            text-align: center;
        }
        .form-control{
            margin-bottom: 10px;
        }
        .card-title {
    text-align: center; 
    text-decoration: underline; 
    color:purple;
    padding-top: 20px;
  }
    </style>
</head>
    <body>
        <div class="container">
            <form class="form-spouse" method="post">
                {% csrf_token %}
                <h4 class="card-title">Update Member Form</h4>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="{{ member_form.name.id_for_label }}">Name</label>
                            <input type="text" class="form-control" id="{{ member_form.name.id_for_label }}" name="{{ member_form.name.html_name }}" value="{{ member_form.name.value }}" />
                        </div>
                        <div class="col-md-6">
                            <label for="phone_number">Phone</label>
                            <input type="text" class="form-control" id="{{ member_form.phone_number.id_for_label }}" name="{{member_form.phone_number.html_name}}" value="{{ member_form.phone_number.value }}" />
                        </div>
                        <div class="col-md-6">
                            <label for="{{ member_form.confirmation_date.id_for_label }}">Confirmation Date</label>
                            <input type="date" class="form-control" id="{{ member_form.confirmation_date.id_for_label }}" name="{{ member_form.confirmation_date.html_name }}" value="{{ member_form.confirmation_date.value|date:"Y-m-d" }}" />
                        </div>
                        <div class="col-md-6">
                            <label for="confirmation_date">Baptism Date</label>
                            <input type="date" class="form-control" id="{{ member_form.baptism_date.id_for_label }}" name="{{ member_form.baptism_date.html_name}}"  value="{{ member_form.baptism_date.value|date:"Y-m-d" }}" />
                        </div>
                        <div class="col-md-6">
                            <label for="confirmation_date">Service Attend</label>
                            <select class="form-control" name="{{ member_form.service_attend.html_name}}">
                                <option value="" {% if not member_form.service_attend.value %}selected{% endif %}>Service Attend</option>
                                {% for choice in member_form.fields.service_attend.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == member_form.service_attend.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmation_date">Communicant</label>
                            <select class="form-control" name="{{ member_form.communicant.html_name}}">
                                <option value="" {% if not member_form.communicant.value %}selected{% endif %}>Communicant</option>
                                {% for choice in member_form.fields.communicant.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == member_form.communicant.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmation_date">Cell group</label>
                            <select class="form-control" name="{{ member_form.cell_group.html_name }}">
                                <option value="" {% if not member_form.cell_group.value %}selected{% endif %}>Cell group</option>
                                {% for choice in member_form.fields.cell_group.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == member_form.cell_group.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="confirmation_date">Marital Status</label>
                            <select class="form-control" name="{{ member_form.marital_status.html_name }}">
                                <option value="" {% if not member_form.marital_status.value %}selected{% endif %}>Select Marital Status</option>
                                {% for choice in member_form.fields.marital_status.choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == member_form.marital_status.value %}selected{% endif %}>{{ choice.1 }}</option>
                                {% endfor %}
                            </select>           
                        </div>
                        <div class="col-md-6">
                            <label for="{{ member_form.spouse.id_for_label }}">Spouse</label>
                            <select class="form-control" name="{{ member_form.spouse.html_name }}" id="{{ member_form.spouse.id_for_label }}">
                                <option value="" {% if not member_form.spouse.value %}selected{% endif %}>Select Spouse</option>
                                {% for spouse in member_form.fields.spouse.queryset %}
                                    <option value="{{ spouse.id }}" {% if spouse.id == member_form.spouse.value %}selected{% endif %}>{{ spouse.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Submit" />         
                </div>
            </form>
        </div>
    </body>
</html>
{% endblock content %}