{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container1">
    <div class="container11">
        <div class="image11">
            <img src="{% static 'img/img-1.png' %}" alt="Image" />
        </div>
    </div>

    <div class="container12">
        <div class="image12">
            <img src="{% static 'img/message1.png' %}" alt="Image" />
        </div>
    </div>
</div>

<style>
    .container1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85vh;
        padding: 0 20px; 
    }

    .container11,
    .container12 {
        width: 45%; 
    }

    .image11{
      width: 120%;
      height: 100%;
      
    }
    
    .image12 {
        width: 80%;
        
        height: 50%;
        
    }
    .container12 {
        order: 1; 
    }
</style>

{% endblock content %}
