{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Title Here</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="{% static 'script.js' %}"></script>
    <style>
        .card-title {
    text-align: center; 
    text-decoration: underline; 
    color:purple;
    padding-top: 20px;
  }
    </style>
</head>
<body>
    <h4 class="card-title"> Spouse Profile </h4>
    <div class="container pt-3" >
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Confirmation Date</th>
                    <th>Baptism Date</th>
                    <th>Communicant</th>
                    <th>Cell Group</th>
                    <th>Marital Status</th>
                    <th>Service Attend</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for spouse in spouse %}
                <tr>
                    <td>{{ spouse.id}}</td>
                    <td><a href="{% url 'editspouse' spouse.id %}">{{ spouse.name}}</a></td>
                    <td>{{ spouse.phone_number }}</td>
                    <td>{{ spouse.confirmation_date }}</td>
                    <td>{{ spouse.baptism_date }}</td>
                    <td>{{ spouse.communicant }}</td>
                    <td>{{ spouse.cell_group}}</td>
                    <td>{{ spouse.marital_status}}</td>
                    <td>{{ spouse.service_attend}}</td>
                    <td><a href="{% url 'deletespouse' spouse.id %}">
                        <i class="fas fa-trash-alt" style="color: red;"></i>
                    </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   
</body>
</html>
{% endblock content %}
